examples/example-1.json
[
    {
        "id": "406ac3f41b34c751",
        "type": "group",
        "z": "7ed42286911140a3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fba9ec8cfdd56924",
            "b7daf3f2a62740b0",
            "72680d541e89a391",
            "9945a65b7e382ebf"
        ],
        "x": 34,
        "y": 39,
        "w": 652,
        "h": 142
    },
    {
        "id": "fba9ec8cfdd56924",
        "type": "tapo_new_actions",
        "z": "7ed42286911140a3",
        "g": "406ac3f41b34c751",
        "name": "power",
        "deviceIp": "",
        "deviceAlias": "",
        "deviceIpRange": "",
        "searchMode": "ip",
        "command": "power",
        "version": 3,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "72680d541e89a391"
            ]
        ]
    },
    {
        "id": "b7daf3f2a62740b0",
        "type": "inject",
        "z": "7ed42286911140a3",
        "g": "406ac3f41b34c751",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "fba9ec8cfdd56924"
            ]
        ]
    },
    {
        "id": "72680d541e89a391",
        "type": "debug",
        "z": "7ed42286911140a3",
        "g": "406ac3f41b34c751",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "9945a65b7e382ebf",
        "type": "comment",
        "z": "7ed42286911140a3",
        "g": "406ac3f41b34c751",
        "name": "[node-power]",
        "info": "",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "a707db22b3b0172d",
        "type": "group",
        "z": "7ed42286911140a3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "67f892ec9d83cd43",
            "0b77fa0286ebe78c",
            "be8b9523ea20e889",
            "2c4dfc75babaa246"
        ],
        "x": 34,
        "y": 199,
        "w": 652,
        "h": 142
    },
    {
        "id": "67f892ec9d83cd43",
        "type": "tapo_new_actions",
        "z": "7ed42286911140a3",
        "g": "a707db22b3b0172d",
        "name": "turn-off",
        "deviceIp": "",
        "deviceAlias": "",
        "deviceIpRange": "",
        "searchMode": "ip",
        "command": "off",
        "version": 3,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "be8b9523ea20e889"
            ]
        ]
    },
    {
        "id": "0b77fa0286ebe78c",
        "type": "inject",
        "z": "7ed42286911140a3",
        "g": "a707db22b3b0172d",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "67f892ec9d83cd43"
            ]
        ]
    },
    {
        "id": "be8b9523ea20e889",
        "type": "debug",
        "z": "7ed42286911140a3",
        "g": "a707db22b3b0172d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "2c4dfc75babaa246",
        "type": "comment",
        "z": "7ed42286911140a3",
        "g": "a707db22b3b0172d",
        "name": "[node-turn-off]",
        "info": "",
        "x": 130,
        "y": 240,
        "wires": []
    },
    {
        "id": "594abc0ef6d50e2e",
        "type": "group",
        "z": "7ed42286911140a3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b9665d5529829a5f",
            "6927acf858d69bee",
            "ac0bc1c055bf3556",
            "80989beeb4b09c5c"
        ],
        "x": 714,
        "y": 199,
        "w": 652,
        "h": 142
    },
    {
        "id": "b9665d5529829a5f",
        "type": "tapo_new_actions",
        "z": "7ed42286911140a3",
        "g": "594abc0ef6d50e2e",
        "name": "turn-on",
        "deviceIp": "",
        "deviceAlias": "",
        "deviceIpRange": "",
        "searchMode": "ip",
        "command": "on",
        "version": 3,
        "x": 1060,
        "y": 300,
        "wires": [
            [
                "ac0bc1c055bf3556"
            ]
        ]
    },
    {
        "id": "6927acf858d69bee",
        "type": "inject",
        "z": "7ed42286911140a3",
        "g": "594abc0ef6d50e2e",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 300,
        "wires": [
            [
                "b9665d5529829a5f"
            ]
        ]
    },
    {
        "id": "ac0bc1c055bf3556",
        "type": "debug",
        "z": "7ed42286911140a3",
        "g": "594abc0ef6d50e2e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 300,
        "wires": []
    },
    {
        "id": "80989beeb4b09c5c",
        "type": "comment",
        "z": "7ed42286911140a3",
        "g": "594abc0ef6d50e2e",
        "name": "[node-turn-on]",
        "info": "",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "b409ceecccb0fa8c",
        "type": "group",
        "z": "7ed42286911140a3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "63942a49ba2d18ca",
            "9d35c683a2673e03",
            "a536172953c2aa91",
            "474bc5e162e83399"
        ],
        "x": 714,
        "y": 39,
        "w": 652,
        "h": 142
    },
    {
        "id": "63942a49ba2d18ca",
        "type": "tapo_new_actions",
        "z": "7ed42286911140a3",
        "g": "b409ceecccb0fa8c",
        "name": "toggle",
        "deviceIp": "",
        "deviceAlias": "",
        "deviceIpRange": "",
        "searchMode": "ip",
        "command": "toggle",
        "version": 3,
        "x": 1050,
        "y": 140,
        "wires": [
            [
                "a536172953c2aa91"
            ]
        ]
    },
    {
        "id": "9d35c683a2673e03",
        "type": "inject",
        "z": "7ed42286911140a3",
        "g": "b409ceecccb0fa8c",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 140,
        "wires": [
            [
                "63942a49ba2d18ca"
            ]
        ]
    },
    {
        "id": "a536172953c2aa91",
        "type": "debug",
        "z": "7ed42286911140a3",
        "g": "b409ceecccb0fa8c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 140,
        "wires": []
    },
    {
        "id": "474bc5e162e83399",
        "type": "comment",
        "z": "7ed42286911140a3",
        "g": "b409ceecccb0fa8c",
        "name": "[node-toggle]",
        "info": "",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "4939d50958cc440d",
        "type": "group",
        "z": "7ed42286911140a3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1d4c9387eeb66ef6",
            "4960a87d54a87950",
            "8110f7b13a059915",
            "d8d930c8c7107608"
        ],
        "x": 374,
        "y": 359,
        "w": 652,
        "h": 142
    },
    {
        "id": "1d4c9387eeb66ef6",
        "type": "tapo_new_actions",
        "z": "7ed42286911140a3",
        "g": "4939d50958cc440d",
        "name": "status",
        "deviceIp": "",
        "deviceAlias": "",
        "deviceIpRange": "",
        "searchMode": "ip",
        "command": "status",
        "version": 3,
        "x": 710,
        "y": 460,
        "wires": [
            [
                "8110f7b13a059915"
            ]
        ]
    },
    {
        "id": "4960a87d54a87950",
        "type": "inject",
        "z": "7ed42286911140a3",
        "g": "4939d50958cc440d",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 530,
        "y": 460,
        "wires": [
            [
                "1d4c9387eeb66ef6"
            ]
        ]
    },
    {
        "id": "8110f7b13a059915",
        "type": "debug",
        "z": "7ed42286911140a3",
        "g": "4939d50958cc440d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 460,
        "wires": []
    },
    {
        "id": "d8d930c8c7107608",
        "type": "comment",
        "z": "7ed42286911140a3",
        "g": "4939d50958cc440d",
        "name": "[node-status]",
        "info": "",
        "x": 470,
        "y": 400,
        "wires": []
    },
    {
        "id": "0543bd7f1ef1b064",
        "type": "group",
        "z": "7ed42286911140a3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b1221c241d7472da",
            "b2b6d7caa428eb2a",
            "5190144572e33911",
            "5348712bf837943b",
            "33f2452de042ed2f"
        ],
        "x": 34,
        "y": 519,
        "w": 652,
        "h": 202
    },
    {
        "id": "b1221c241d7472da",
        "type": "tapo_new_actions",
        "z": "7ed42286911140a3",
        "g": "0543bd7f1ef1b064",
        "name": "brightness",
        "deviceIp": "",
        "deviceAlias": "",
        "deviceIpRange": "",
        "searchMode": "ip",
        "command": "brightness",
        "version": 3,
        "x": 390,
        "y": 620,
        "wires": [
            [
                "5190144572e33911"
            ]
        ]
    },
    {
        "id": "b2b6d7caa428eb2a",
        "type": "inject",
        "z": "7ed42286911140a3",
        "g": "0543bd7f1ef1b064",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "b1221c241d7472da"
            ]
        ]
    },
    {
        "id": "5190144572e33911",
        "type": "debug",
        "z": "7ed42286911140a3",
        "g": "0543bd7f1ef1b064",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 620,
        "wires": []
    },
    {
        "id": "5348712bf837943b",
        "type": "comment",
        "z": "7ed42286911140a3",
        "g": "0543bd7f1ef1b064",
        "name": "[node-brightness]",
        "info": "",
        "x": 140,
        "y": 560,
        "wires": []
    },
    {
        "id": "33f2452de042ed2f",
        "type": "inject",
        "z": "7ed42286911140a3",
        "g": "0543bd7f1ef1b064",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "b1221c241d7472da"
            ]
        ]
    },
    {
        "id": "d7479c196d2a9e01",
        "type": "group",
        "z": "7ed42286911140a3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "633d44b15d4437d1",
            "2f15bafd8d818138",
            "5b10f054e17cd561",
            "c9e7847286b28d85",
            "8e37236ec1494e57"
        ],
        "x": 714,
        "y": 519,
        "w": 652,
        "h": 202
    },
    {
        "id": "633d44b15d4437d1",
        "type": "tapo_new_actions",
        "z": "7ed42286911140a3",
        "g": "d7479c196d2a9e01",
        "name": "color",
        "deviceIp": "",
        "deviceAlias": "",
        "deviceIpRange": "",
        "searchMode": "ip",
        "command": "color",
        "version": 3,
        "x": 1050,
        "y": 620,
        "wires": [
            [
                "5b10f054e17cd561"
            ]
        ]
    },
    {
        "id": "2f15bafd8d818138",
        "type": "inject",
        "z": "7ed42286911140a3",
        "g": "d7479c196d2a9e01",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "white",
        "payloadType": "str",
        "x": 870,
        "y": 620,
        "wires": [
            [
                "633d44b15d4437d1"
            ]
        ]
    },
    {
        "id": "5b10f054e17cd561",
        "type": "debug",
        "z": "7ed42286911140a3",
        "g": "d7479c196d2a9e01",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 620,
        "wires": []
    },
    {
        "id": "c9e7847286b28d85",
        "type": "comment",
        "z": "7ed42286911140a3",
        "g": "d7479c196d2a9e01",
        "name": "[node-color]",
        "info": "",
        "x": 810,
        "y": 560,
        "wires": []
    },
    {
        "id": "8e37236ec1494e57",
        "type": "inject",
        "z": "7ed42286911140a3",
        "g": "d7479c196d2a9e01",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "#cccccc",
        "payloadType": "str",
        "x": 870,
        "y": 680,
        "wires": [
            [
                "633d44b15d4437d1"
            ]
        ]
    },
    {
        "id": "0377707be2b5bd05",
        "type": "group",
        "z": "7ed42286911140a3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6302f224368a43ed",
            "833c181590790784",
            "99ca7654dbe8ed03",
            "d63b7536b2ca0135"
        ],
        "x": 34,
        "y": 739,
        "w": 652,
        "h": 142
    },
    {
        "id": "6302f224368a43ed",
        "type": "tapo_new_actions",
        "z": "7ed42286911140a3",
        "g": "0377707be2b5bd05",
        "name": "components",
        "deviceIp": "",
        "deviceAlias": "",
        "deviceIpRange": "",
        "searchMode": "ip",
        "command": "components",
        "version": 3,
        "x": 390,
        "y": 840,
        "wires": [
            [
                "99ca7654dbe8ed03"
            ]
        ]
    },
    {
        "id": "833c181590790784",
        "type": "inject",
        "z": "7ed42286911140a3",
        "g": "0377707be2b5bd05",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 840,
        "wires": [
            [
                "6302f224368a43ed"
            ]
        ]
    },
    {
        "id": "99ca7654dbe8ed03",
        "type": "debug",
        "z": "7ed42286911140a3",
        "g": "0377707be2b5bd05",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 840,
        "wires": []
    },
    {
        "id": "d63b7536b2ca0135",
        "type": "comment",
        "z": "7ed42286911140a3",
        "g": "0377707be2b5bd05",
        "name": "[node-components]",
        "info": "",
        "x": 150,
        "y": 780,
        "wires": []
    },
    {
        "id": "2e6d2d5daa14164f",
        "type": "group",
        "z": "7ed42286911140a3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8ce3a8fc05817d53",
            "dbd754ccb483568b",
            "f6f239431f81e8bb",
            "fadbaf9117bbfcdd"
        ],
        "x": 714,
        "y": 739,
        "w": 652,
        "h": 142
    },
    {
        "id": "8ce3a8fc05817d53",
        "type": "tapo_new_actions",
        "z": "7ed42286911140a3",
        "g": "2e6d2d5daa14164f",
        "name": "command",
        "deviceIp": "",
        "deviceAlias": "",
        "deviceIpRange": "",
        "searchMode": "ip",
        "command": "command",
        "version": 3,
        "x": 1060,
        "y": 840,
        "wires": [
            [
                "f6f239431f81e8bb"
            ]
        ]
    },
    {
        "id": "dbd754ccb483568b",
        "type": "inject",
        "z": "7ed42286911140a3",
        "g": "2e6d2d5daa14164f",
        "name": "",
        "props": [
            {
                "p": "payload.method",
                "v": "set_device_info",
                "vt": "str"
            },
            {
                "p": "payload.params",
                "v": "{\"device_on\":true}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 870,
        "y": 840,
        "wires": [
            [
                "8ce3a8fc05817d53"
            ]
        ]
    },
    {
        "id": "f6f239431f81e8bb",
        "type": "debug",
        "z": "7ed42286911140a3",
        "g": "2e6d2d5daa14164f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 840,
        "wires": []
    },
    {
        "id": "fadbaf9117bbfcdd",
        "type": "comment",
        "z": "7ed42286911140a3",
        "g": "2e6d2d5daa14164f",
        "name": "[node-command]",
        "info": "",
        "x": 820,
        "y": 780,
        "wires": []
    }
]